.second-intro {
    width: 100%;
    background-color: rgba(235, 242, 242, 1);
  }
  
  form {
    position: relative;
    width: 35%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .submit-search {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #6DB33F;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .submit-search:before {
    content: "\21D2";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }

  .search {
    /* margin-top: 15px; */
    border: 2px solid #6DB33F;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
    height: 42px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    /* margin-left: 33%; */
  }

  .block-search {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .container-second {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .container-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 10px;
  }
  
  .child-projects {
    background-color: white;
    width: 40%;
    padding: 25px 20px 40px 20px;
    display: flex;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .child-projects:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
    transition: 0.3s;
  }
  
  .name-project {
    font-size: 24px;
    color: #086dc3;
    margin-top: 3%;
  }
  
  .icons {
    height: 60px;
    margin-right: 10px;
  }