@media (max-width: 800px) {
    .left-step-second-inro {
      width: 5%;
    }
  
    .container-projects {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
  
    .child-projects {
      width: 90%;
    }
  
    .nav {
      display: none;
    }
  
    .under-intro {
      display: none;
    }
  
    .header {
      position: fixed;
      top: 0;
      z-index: 10;
      background-color: white;
    }
  
    .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .icon-adaptive-menu {
      display: block;
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
  
    .first-intro-title {
      font-size: 40px;
      margin-bottom: 0;
      margin-top: 100px;
    }
  
    .first-intro-about {
      font-size: 20px;
      margin-bottom: 70px;
    }
  
    .container-footer {
      flex-direction: column;
      align-items: space-between;
    }
  
    .container-list {
      width: 85%;
    }
  
    .container-sumbition {
      width: 85%;
    }
  }