.first-intro{
	width: 100%;
}

.first-intro-title{
	font-size: 60px;
	margin: 60px 10px 0px;	
}

.first-intro-about{
	font-size: 24px;
	max-width: 1040px;
	line-height: 1.7;
	margin: 0 10px 80px;
}

.second-intro{
	width: 100%;
	background-color: rgba(235, 242, 242,1);
}

.search{
	margin-top: 15px;
	border: 2px solid grey;
	border-radius: 2px;
	height: 35px;
	width: 40%;
	margin-left: 33%;
}

.container-second{
	display: flex;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 2px solid black;
	padding-top: 20px;
	padding-bottom: 40px;
}

/* .left-step-second-inro{
	width: 50%;
} */

.container-projects{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 10px;
}

.child-projects{
	background-color: white;
	width: 40%;
    padding: 25px 20px 40px 20px;
    display: flex;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    transition: 0.3s;
}


.child-projects:hover{
	box-shadow: 7px 7px 7px  rgba(0, 0, 0, 0.1);
	transform: translateY(-7px);
	transition: 0.3s;
}

.name-project{
	font-size: 24px;
	color: #086dc3;
	margin-top: 3%;
}

.icons{
	height: 60px;
	margin-right: 10px;
}

.third-intro{
	width: 100%;
	background-color: rgba(235, 242, 242,1);
	border-bottom: 1px solid rgba(0,0,0,0.1);

}

.container-third{
	display: block;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

.attic-projects{
	font-size: 24px;
	font-weight: 700;
	margin: 0 10px;
}

.container-spec-projects{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 10px;
}

.child-spec-projects{
	max-width: 40%;
}

.fourth-intro{
	width: 100%;
	background-color: rgba(235, 242, 242,1);
	display: flex;
	justify-content: center;
}

.container-fourth{
	display: block;
	max-width: 1140px;
	width: 100%;
	margin: 0 10px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.container-gets{
	display: flex;
	justify-content: space-between;
}

.child-gets{
	width: 35%;
}

.get-news{
	font-size: 24px;
	font-weight: 550;
}