body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html {
  margin: 0;
  padding: 0;
}

p {
  font-family: Metropolis, sans-serif;
}

h1 {
  font-family: Metropolis, sans-serif;
  color: white;
}

h2 {
  font-family: Metropolis, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 110%;
}

/* img{
	max-width: 100%
} */

ul {
  list-style: none;
  padding: 0;
  font-family: Open Sans, sans-serif;
  color: #191e1e;
}

li {
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

li:hover {
  color: #6db33f;
  transition: 0.3s;
}

